/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root .theme-dark {
  --accent-color: #FF0070;
  --main-font: 'IBM Plex Mono';
  --background-image: url(../images/cover-image-dark.png);
  --hover-color: #FF007066;
  --heading-color: #DB00FF;
  --title-decor-color: #000028;
  --content-text-color: #F1B2CE;
  --text-shadow-color: #FF0070;  
  /* --background-cover-image: url(../images/cover-image.png); */
  /* пробовал всяко разно прикручивать этот 3й рисунок с разной прозрачностью
   и отдельно, но с ним идёт заметное расхождение с макетом.
   Так и не понял, куда он и зачем. */
  /* .header__decoration-item {
    display: inline-block;
  } */
}



.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */  
}

@media (min-width: 768px) {
  .header__decoration-item {
    inset-block-start: 20px;
    inset-inline-end: 28px;
  }  
}